@tailwind base;
@tailwind components;
@tailwind utilities;

@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
.dataTable-wrapper .dataTable-sorter span {
    color: #111827 !important; /* gray-900 */
}

.dataTable-wrapper td {
    color: #111827 !important;
}
